<div *ngIf="weather$ | async as weather; else loading">
  <h3>Current Weather at {{ weather.name | titlecase }}</h3>
  <!-- {{ weather | json }} -->
  <table>
    <tr>
      <td>Temperature:</td>
      <td>{{ weather.main.temp }}</td>
    </tr>
    <tr>
      <td>Feels Like:</td>
      <td>{{ weather.main.feels_like }}</td>
    </tr>
    <tr>
      <td>Min Temperature:</td>
      <td>{{ weather.main.temp_min }}</td>
    </tr>
    <tr>
      <td>Max Temperature:</td>
      <td>{{ weather.main.temp_max }}</td>
    </tr>
    <tr>
      <td>Pressure:</td>
      <td>{{ weather.main.pressure }}</td>
    </tr>
    <tr>
      <td>Humidity:</td>
      <td>{{ weather.main.humidity }}</td>
    </tr>
    <tr *ngFor="let w of weather.weather">
      <td><img src="{{ w.icon }}" width="200" height="auto" /></td>
      <td>{{ w.main }} - {{ w.description }}</td>
    </tr>
  </table>
</div>
<br />
<a [routerLink]="['/']">Back</a>
<ng-template #loading>Loading...</ng-template>
